dist/index.html
<html lang="en"><head><title>Logic</title><meta charset="utf-8"/><link rel="stylesheet" href="http://phi:8888/styles/logic.main.min.css"/><link href="http://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic" rel="stylesheet" type="text/css"/></head><body><div class="row row-ratio"><div class="col"><h1>Meaningful Work is a Choice</h1><p>I enjoyed Jennifer’s opening statement and agree with many of her points. Too many designers choose to work on things that are not “truly meaningful” and get caught up in ego stroking. But we can&nbsp;<strong>choose what to work on</strong>. There are plenty of meaningful opportunities out there for creatives, including companies&nbsp;<em>Designer Fund&nbsp;</em>has invested in like AltSchool and Omada Health. Re-designing schools from the ground up and&nbsp;<a href="#">preventing millions of people</a>&nbsp;from getting diabetes is meaningful to me and I hope it is to you too. Regardless of your position on the ill formatted question, “Can design change the world?” you can ultimately choose what to give your attention to and decide what’s meaningful to you.</p><p>For more examples of meaningful opportunities, below are my opening and closing arguments from the Design Debaters Club. Thanks Airbnb for being wonderful hosts and Daniel Burka and Jon Lax for being great teammates. Please excuse any exaggeration below meant for entertainment purposes at the event.</p><p>1 million babies die a year on the day of their birth and 3 million more die within their first week. The leading cause is pre-mature and low birth weight, which can result in hypothermia where the baby is unable to regulate their own body temperature. Even at room temperature they’re freezing. In emerging markets like Africa and India, desperate parents try to use hot coals, hot water bottles and even light bulbs to keep their babies warm.</p></div><div class="col">col 2</div></div>

</body></html>

build/templates/index.jade
html(lang="en")

    head
        title Logic
        meta(charset="utf-8")
        link(rel="stylesheet" href="http://phi:8888/styles/logic.main.min.css")
        link(href='http://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css')

    body


        .row.row-ratio

            .col
                h1 Meaningful Work is a Choice
                p I enjoyed Jennifer’s opening statement and agree with many of her points. Too many designers choose to work on things that are not “truly meaningful” and get caught up in ego stroking. But we can&nbsp;
                    strong choose what to work on
                    | . There are plenty of meaningful opportunities out there for creatives, including companies&nbsp;
                    em Designer Fund&nbsp;
                    | has invested in like AltSchool and Omada Health. Re-designing schools from the ground up and&nbsp;
                    a(href="#") preventing millions of people
                    | &nbsp;from getting diabetes is meaningful to me and I hope it is to you too. Regardless of your position on the ill formatted question, “Can design change the world?” you can ultimately choose what to give your attention to and decide what’s meaningful to you.
                p For more examples of meaningful opportunities, below are my opening and closing arguments from the Design Debaters Club. Thanks Airbnb for being wonderful hosts and Daniel Burka and Jon Lax for being great teammates. Please excuse any exaggeration below meant for entertainment purposes at the event.
                p 1 million babies die a year on the day of their birth and 3 million more die within their first week. The leading cause is pre-mature and low birth weight, which can result in hypothermia where the baby is unable to regulate their own body temperature. Even at room temperature they’re freezing. In emerging markets like Africa and India, desperate parents try to use hot coals, hot water bottles and even light bulbs to keep their babies warm.

            .col col 2


        //- .row.row-ratio.row-ratio-inversed

        //-     .col col 1

        //-     .col col 2


        //- .row.row-ratio

        //-     .col
        //-         .row.row-ratio
        //-             .col col 1.1
        //-             .col col 1.2

        //-     .col col 2


        //- .row.row-tri

        //-     .col col 1
        //-     .col col 2
        //-     .col col 3
